#chat {
	max-width: 650px;
	margin: 0 auto;
}

#chat-messages, #chat-userlist {
	display: block;
}
#chat-messages {
	background: #fdfdfd;
	position: relative;
	overflow: auto;
	height: 400px;
}

#chat-userlist {
	background: #f8f8f8;
	overflow: auto;
	height: 364px;
}

#chat-userlist > div {
	padding: 5px;
	border-bottom: dashed 1px #555;
}

#chat-userlist > div:hover {
	font-weight: bold;
	cursor: pointer;
}
	
#chat-userlist .icon {
	vertical-align: top;
	padding-right: 7px;
}

#chat-userlist .typing {
	background: url("keyboard.png") center right no-repeat;
}

#chat-messages > div {
	padding: 0.5em;
}
#chat-messages > div:nth-child(odd) {
	background: #efefef;
}

#chat-footer {
	height: 40px;
	background: #ccc;
}

#chat-logout {
	text-decoration: none;
	padding-left: 10px;
	color: red;
	display: none;
}

#chat-form {

}
/*
 * 
 */

#chat-messages .ask {
	position: absolute;
	top: 0;
	font-size: 1.3em;
	padding: 5%;
	text-align: center;
	background: rgba(185, 185, 185, 0.28);
}

#chat-messages .ask > strong {
	
}

#chat-messages .msg {
	margin: 0;
	padding-left: 10px;
	display: inline-block;
	vertical-align: top;
}

#chat-messages .bot-message {
	text-align: center;
	background: #f7f7f7 !important;
	color: #777;
	padding: 0.2em;
	border-bottom: 1px solid #eee;
}