#wrap {
	width: 700px;
	margin: 0 auto;
}
#chatTemplate {
	display: none
}
#chatList .feed {
	margin-left: 30px;
	margin-bottom: 10px;
}
.headers > h3 {
	background-color: #00529B;
	color: #FFFFFF;
	text-align: center;
}
.grid {
	display: inline-block;
	vertical-align: top;
}
.col-a.grid {
	width: 30%
}
.col-b.grid {
	width: 69%
}
.error {
	color: #f00;
}
.errorTray {
	margin-bottom: 10px;
}
.updating {
	border: solid #5f5 2px;
}
.user {
	width: 100%;
	position: relative;
	display: inline-block;
	border: #222222 1px solid;
	background: #fafafa;
	margin-right: 1%;
	margin-bottom: 1%;
}

#othersProps .user {
	width: 48.5%;
	vertical-align: top;
}
.user > h4 {
	padding: 5px 0;
	margin: 0;
	text-align: center;
	background: #888;
	color: #fff;
}
#myUser input{
	border: none;
}
dl{
	margin-left: 8%;
	width:89%;
}
dt{
	display: block;
	font-weight: bold;
}
dt:after {
	content: ":";
}
dd{
	display: block;
	padding: 2px 5px;
	margin-left: 15px;
	margin-bottom: 10px;
	min-height: 23px;
	border: 1px solid #ddd;
	background: #fff;
}
