.feed {

}

.feed > h1 {
	margin: 0;
	padding: 0.2em;
	text-align: center;
	font-size: 2em;
}

.feed-body {
	height: 200px;
	overflow: auto;
	font-size: 1.1em;
}
.feed-body > div {
	padding: 0.5em;
	background: #fafafa;
}
.feed-body > div > .label {
	float: right;
	font-size: 0.7em;
}
.feed-body > div:nth-child(odd) {
	background: #FFFFFF;
}
.feed-body > div.bot {
	background: #555;
	color: #fff;
	font-size: 0.9em;
	text-align: center;
	padding: 0.2em;
	border: solid 1px #777;	
}

nav > a.btn {
	float: right;
}

#console {
	max-width: 600px;
	padding: 10px;
	background: #222;
	color: #eee;
	border: solid 3px #aaa;
	font-size: 1.2em;
	font-family: Courier New, Courier;
	min-height: 500px;
}

#console b {
	font-weight: bold;
}

#console > div {
	padding: 5px 0px;
}

#console form {
	display: inline-block;
	background: none;
}
#console form input:focus {
	outline: none;
}
#console form input {
	display: inline-block;
	background: none;
	border: none;
	color: #eee;
	font-size: 1em;
	font-family: Courier New, Courier;
	width: 400px;
}
